.mainbod{
    width: auto;
    height: 786px;
    background-image: url("pattern.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    position: relative;
}
.infohold{
    background-color: #FDFFE2;
    text-align: center;
    position: absolute;
    top: 50px;
    margin: 20px;
    border: dashed;
}
.infohold p{
    padding: 10px 10px 10px 10px;
    font-family: "Wittgenstein", serif;

}

