.mainbod{
    width: auto;
    height: 786px;
    background-image: url("pattern.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    position: relative;

}
.infohold{
    position: relative;
    top: 100px;
    text-align: center;
    margin: 10px 15%;
    text-align: center;
    background-color: #071952;
    border: dashed;
    border-color: white;
    padding-right: 20px;
    opacity: 80%;
    border-radius: 10px;
}
.infohold h1{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: "Wittgenstein", serif;

}
li{
    margin: 20px 10px;
    color: #000000;
    opacity: 100%;
    border: solid;
    text-align: center;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    font-weight: bold;
    border-radius: 10px;
}
footer{
    color: rgb(255, 255, 255);
    background-color: #071952;
    opacity: 50%;
}




