.mainbod{
    width: auto;
    height: 786px;
    background-image: url("pattern.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    position: relative;
}
.infohold{
    margin: 10px 20px 20px 10px;
    position: relative;
    top: 30px;
    background-color: #83B4FF;
    width: 96%;
    border: dashed;
}
.infohold img{
    width: 98%;
    border: solid;
    border-color: white;
    margin-bottom: 10px;
}
.infohold p{
    margin: 10px 20px 10px 20px;
    font-family: "Wittgenstein", serif;
    position: relative;
    top: 5px;
}
