.mainbod{
    width: auto;
    height: 786px;
    background-image: url("pattern.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    position: relative;
}
.infohold{
    margin: 10px 20px 20px 10px;
    position: relative;
    top: 5%;
    background-color: #83B4FF;
    width: 96%;
    border: dashed;
    opacity: 90%;
}
.infohold h1{
    margin-left: 17px;
}
.infohold img{
    width: 10rem;
    border: solid;
    border-color: white;
    margin-bottom: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.infohold p{
    margin: 10px 20px 10px 20px;
    font-family: "Wittgenstein", serif;
    position: relative;
    top: 5px;
}
li{
    margin-bottom: 50px;
}
footer{
    color: rgb(255, 255, 255);
    background-color: #071952;
    opacity: 50%;
}
